// Colours

$white						: #ffffff;
$black						: #231f20;
$tundora					: #454545;
$gallery					: #EBEBEB;
$mocha						: #742c17;
$dark-grey					: #474444;
$light-grey					: #82827f;


// Colour Usage

$colour__page__bg			: $gallery;
$colour__content__bg		: $white;

$colour__title				: $tundora;

$colour__text				: $tundora;
$colour__text__alt			: $white;

$colour__nav__text			: $white;

$colour__btn__bg			: $mocha;
$colour__btn__bg-hover		: $tundora;
$colour__btn__text			: $white;

$colour__link				: $mocha;


// Font Stacks

$font__family__text			: 'Lato', sans-serif;
$font__family__title		: 'Palatino', serif;


// Font Weights

$font__weight__light		: 300;
$font__weight__normal		: 400;
$font__weight__bold			: 700;


// Breakpoints

$breakpoint-tablet			: 900px;
$breakpoint-phone			: 720px;
$breakpoint-small-phone		: 490px;

// Footer Height - this is required if you want to use the sticky footer

$footer-height				: 174px;
