// Colours

$white					: #ffffff;
$black					: #231f20;

// Font Colour Usage

$primary-color			: red;
$secondary-color		: blue;

// Background Colour Usage

$primary-bg-color		: $white;

// Font Stacks

$primary-font			: 'Arial', sans-serif;

// Footer Height - this is required if you want to use the sticky footer

$footer-height			: 80px;