/* Modules
------------------------------------------------------------------------------------ */

.mobile-buger-menu-toggle {
	background: url(../img/menu.png) no-repeat;
	display: none; /* Turn off for desktop view */
	height: 21px;
	position: absolute;
	right: 10px;
	top: 10px;
	width: 26px;
	cursor: pointer;
	@media screen and (max-width: 890px) {
		display: block; /* Turn on for mobile view */
	}
}

.cookie-message {
	color: #ffffff;
	position: fixed;
	width: 100%;
	text-align: center;
	background-color: #000;
	background-color: rgba(0, 0, 0, 0.85);
	bottom: 0;
	z-index: 100;
	padding: 1em 2%;

	.cookie-policy-link {
		color: #ffffff;
	}
}
