/* Modules
------------------------------------------------------------------------------------ */

.mobile-buger-menu-toggle {
	background: url(../img/menu.png) no-repeat;
	display: none; /* Turn off for desktop view */
	height: 21px;
	position: absolute;
	right: 10px;
	top: 10px;
	width: 26px;
	cursor: pointer;
	@media screen and (max-width: 890px) {
		display: block; /* Turn on for mobile view */
	}
}