/* Hall of shame
------------------------------------------------------------------------------------ */

/* WORDPRESS BLOG LAYOUT */
.blog-posts {
	overflow:hidden; 

	.blog-post {
		margin-bottom: 20px;
		clear: left;
		overflow: hidden;

		img {
			float: left;
			margin-right: 10px;
			width: 136px;
		}

		.blog-content {
			overflow: hidden; 

			h2 {
				margin-bottom: 4px;
			}

			p {
				margin-bottom: 4px;
			}
		}
	}
}

	.main-menu {
		margin-left: 0;
		position: absolute;
		right: 0;
		top: 10px;
		@media screen and (max-width: 890px) {
			position: static;
			display: none;
		}
		
		li {
			border-left: 1px solid #e2ddcd;
			float: left;
			line-height: 1;
			list-style-type: none;
			margin-left: 10px;
			padding-left: 10px;
			&:first-of-type {
				border-left: none;
				margin-left: 0;
				padding-left: 0;
			}
			@media screen and (max-width: 890px) {
				border: none;
				float: none;
				margin: 0;
				padding: 0;
			}

			a {
				color: $colour__link;
				@media screen and (max-width: 890px) {
					display: block;
					padding: 0.5em 10px;
					text-align: center;
				}
			}

			a:hover,
			&.current_page_item a {
				color: $colour__link;
				text-decoration: none;
			}
		}
	}