.video-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden; }
  .video-container iframe, .video-container object, .video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

/* Normalise
------------------------------------------------------------------------------------ */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline; }

body {
  line-height: 1.2; }

h1, h2, h3, h4, h5, h6 {
  line-height: 1; }

table {
  border-collapse: separate;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal; }

table, td, th {
  vertical-align: middle; }

blockquote:before, blockquote:after, q:before, q:after {
  content: ""; }

blockquote, q {
  quotes: "" ""; }

a img {
  border: none; }

img {
  max-width: 100%;
  height: auto; }

html {
  font-size: 62.5%;
  /* Box sizing - only works in IE8+ - http://caniuse.com/#feat=css3-boxsizing */
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

*, *:before, *:after {
  /* Box sizing - only works in IE8+ - http://caniuse.com/#feat=css3-boxsizing */
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* Base Styles
------------------------------------------------------------------------------------ */
body {
  color: #454545;
  font-family: "Lato", sans-serif; }

h1 {
  font-size: 36px;
  font-size: 3.6rem; }

h2 {
  font-size: 30px;
  font-size: 3rem; }

h3 {
  font-size: 24px;
  font-size: 2.4rem; }

p {
  font-size: 12px;
  font-size: 1.2rem;
  margin-bottom: 1em; }
  p:last-child {
    margin-bottom: 0; }

ul {
  margin-left: 36px;
  margin-bottom: 1em; }

ol {
  margin-left: 36px;
  margin-bottom: 1em; }

a {
  color: #742c17;
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }

/* Wordpress Defaults
------------------------------------------------------------------------------------ */
.alignleft {
  float: left; }

.alignright {
  float: right; }

.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto; }

img.alignleft {
  margin: 5px 20px 5px 0; }

.wp-caption.alignleft {
  margin: 5px 10px 5px 0; }

img.alignright {
  margin: 5px 0 5px 20px; }

.wp-caption.alignright {
  margin: 5px 0 5px 10px; }

img.aligncenter {
  margin: 5px auto; }

img.alignnone {
  margin: 5px 0; }

.wp-caption .wp-caption-text,
.entry-caption,
.gallery-caption {
  color: #220e10;
  font-size: 18px;
  font-style: italic;
  font-weight: 300; }

img.wp-smiley,
.rsswidget img {
  border: 0;
  border-radius: 0;
  box-shadow: none;
  margin-bottom: 0;
  margin-top: 0;
  padding: 0; }

.wp-caption.alignleft + ul,
.wp-caption.alignleft + ol {
  list-style-position: inside; }

/* Layout
------------------------------------------------------------------------------------ */
html,
body {
  margin: 0;
  padding: 0;
  height: 100%; }

.page-wrapper {
  min-height: 100%;
  position: relative;
  padding-bottom: 174px;
  /* Height of the footer element */ }

.footer {
  width: 100%;
  height: 174px;
  position: absolute;
  bottom: 0;
  left: 0; }

/* Modules
------------------------------------------------------------------------------------ */
.mobile-buger-menu-toggle {
  background: url(../img/menu.png) no-repeat;
  display: none;
  /* Turn off for desktop view */
  height: 21px;
  position: absolute;
  right: 10px;
  top: 10px;
  width: 26px;
  cursor: pointer; }
  @media screen and (max-width: 890px) {
    .mobile-buger-menu-toggle {
      display: block;
      /* Turn on for mobile view */ } }

.cookie-message {
  color: #ffffff;
  position: fixed;
  width: 100%;
  text-align: center;
  background-color: #000;
  background-color: rgba(0, 0, 0, 0.85);
  bottom: 0;
  z-index: 100;
  padding: 1em 2%; }
  .cookie-message .cookie-policy-link {
    color: #ffffff; }

/* Other
------------------------------------------------------------------------------------ */
/* Hall of shame
------------------------------------------------------------------------------------ */
/* WORDPRESS BLOG LAYOUT */
.blog-posts {
  overflow: hidden; }
  .blog-posts .blog-post {
    margin-bottom: 20px;
    clear: left;
    overflow: hidden; }
    .blog-posts .blog-post img {
      float: left;
      margin-right: 10px;
      width: 136px; }
    .blog-posts .blog-post .blog-content {
      overflow: hidden; }
      .blog-posts .blog-post .blog-content h2 {
        margin-bottom: 4px; }
      .blog-posts .blog-post .blog-content p {
        margin-bottom: 4px; }

.main-menu {
  margin-left: 0;
  position: absolute;
  right: 0;
  top: 10px; }
  @media screen and (max-width: 890px) {
    .main-menu {
      position: static;
      display: none; } }
  .main-menu li {
    border-left: 1px solid #e2ddcd;
    float: left;
    line-height: 1;
    list-style-type: none;
    margin-left: 10px;
    padding-left: 10px; }
    .main-menu li:first-of-type {
      border-left: none;
      margin-left: 0;
      padding-left: 0; }
    @media screen and (max-width: 890px) {
      .main-menu li {
        border: none;
        float: none;
        margin: 0;
        padding: 0; } }
    .main-menu li a {
      color: #742c17; }
      @media screen and (max-width: 890px) {
        .main-menu li a {
          display: block;
          padding: 0.5em 10px;
          text-align: center; } }
    .main-menu li a:hover, .main-menu li.current_page_item a {
      color: #742c17;
      text-decoration: none; }

/*# sourceMappingURL=style.css.map */
